<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    <meta name="keywords" content="==mkeyw==">
    ==ex_meta_taga==
    <meta name="author" content="==mauthor==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="apple-touch-icon" sizes="58x58" href="/apple-icon-58x58.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />

    <link rel="stylesheet" href="==css_path==">
    <link href="==webfont_import==" rel="stylesheet">
    <script  src="==modernizr_path=="></script>

    ==webfont_headings==
    ==webfont_text==
    ==js_code_head_close==
    ==page_js_code_head_close==
</head>
<body class="compendium">
    ==js_code_body_open==
    ==page_js_code_body_open==
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center logo ">
                        ==company_logo==
                </div>
                <div class="col-xs-12 text-center">
                    <div class="main-heading">
                        <h1>==prop-name==</h1>
                        <h4>==prop-address==</h4>
                    </div>
                </div>

                <div class="main-nav-wrap">
                    <div class="col-xs-12 text-center" id="nav-holder">
                        ==main-nav==
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="static-outer-wrap">
                    <div class="col-xs-12 toggle-wrap">
                        <a href="" class="static-nav-toggle">
                            <i class="fa fa-bars"></i> <span>MENU</span>
                        </a>
                    </div>
                    <div class="col-xs-12 static-nav-wrap">
                         ==static-nav==
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" id="main">
        <div class="container content">
            <div class="row">
                ==compendium-section-view==
            </div>

    </main><!-- /main -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center logo">
                    ==company_logo==
                </div>
                <div class="col-xs-12 text-center credits">
                    <p>==copyright==</p>
                    <p>==credits==</p>
                <div>
            </div>
        </div>
    </footer><!-- /footer -->
    ==body_view==
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    <script async src="/themes/global/assets/js/unmin/compendium.js" onload="app.init()"></script>
    ==js_code_body_close==
    ==page_js_code_body_close==
</body>
</html>
