<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>

    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">
    <link href="==webfont_import==" rel="stylesheet">
    <script  src="==modernizr_path=="></script>
     ==webfont_headings==
    ==webfont_text== 
    ==js_code_head_close==
    ==page_js_code_head_close==

</head>
<body==body_cls==>
    ==js_code_body_open==
    ==page_js_code_body_open==
    ==body_html==
    <header>
        <div class="container">
             <div class="row hidden-xlg">
                <div class="col-xs-12">
                    <div class="hidden-xlg">
                        <div class="nav-toggle ==no-booking-btn-class==">
                            <i class="fa-bars fa"></i>
                        </div>
                        ==phone_icon_view==
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-md-9">
                  <div class="header-container">
                    ==nav-main==
                    <div class="nav-booking">
                        ==booking-btn==
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row hidden-lg">
        <div class="col-xs-12 logo">
            ==company_logo==
        </div>
    </div>
    <div class="section-logo">
      <div class="col-xs-3 col-md-3 logo hidden-xs">
          ==company_logo==
      </div>
    </div>
    ==slideshow_view==
    <main id="main">
    ==sub_nav_view==
    <section class="section section_padding--sm">
          <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="main__intro">
                            <span class="motif"></span>
                            <h1 class="main__intro--heading">==heading==</h1>
                            ==sub-heading==
                            <p class="main__intro--desc">==introduction==</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    ==content==
                </div>
            </div>
        </div>
    </section>
    ==mod_view==
    ==accommodation_view==
    ==map_view==
    ==gallery_view==


    </main><!-- #main -->
    <footer id="footer">
      <section class="section footer--top section--grey">
        <div class="container container-fw">
          <div class="row">
            <div class="==news_col_adjust_class== cnews">
              ==newsletter_view==
            </div>
            <div class="==social_col_adjust_class== soci">
              ==social==
            </div>
          </div>
      </section>

      <section class="section footer--mid section--blue ==no_testimonial_class==">
        <div class="container container-fw">
          <div class="row">
              ==testimonial_view==
              <div class="col-xs-12 visible-xs-block">
                <div class="partner__logos">
                  ==partnerlogos==
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 left-info">
                <div class="contact-info">
                  <p>==phone_number==</p>
                  <a href="#">
                    <p>==company_email_address==</p>
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 right-info">
                <div class="copyright-credit">
                  <p>==copyright==</p>
                  <p>==credits==</p>
                </div>
              </div>
          </div>
        </div>
      </section>


      <div class="container container-fw">
        <div class="row">
          <div class="col-xs-12 footer-lower-block">
              <div class="col-xs-12 col-md-6">
                <div class="footer__nav">
                  ==footer_nav==
                </div>
              </div>
              <div class="col-xs-12 col-md-6 hidden-sm-down">
                <div class="partner__logos">
                  ==partnerlogos==
                </div>
              </div>
            </div>          
        </div>
      </div>
    </footer><!-- /#footer -->
    ==body_view==
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
    ==page_js_code_body_close==
</body>
</html>
